.light-theme {

  .menu-expand__settings {
    border-color: var(--color-black-10);

    .theme-toggle-btn {
      background-color: var(--color-black-10);
    }
  }

  .menu-expand__categories {
    border-color: var(--color-black-10);
  }

  .top-featured__recent-border,
  .spotlight-section__divider,
  .category-section__col-divider,
  .menu-expand__divider,
  .cat-featured__grid-sep,
  .cat-sidebar-card__body-sep,
  .cat-body__news-item,
  .cat-body__sep,
  .subcat-highlight,
  .subcat-news-item,
  .news-detail__sep {
    border-color: var(--color-black-10);
  }

  .cat-featured__header-sep,
  .cat-sidebar-card__divider,
  .cat-featured__divider,
  .cat-featured__news-item-sep,
  .profile-item__divider,
  .news-detail__divider,
  .top-news-sidebar__divider {
    background-color: var(--color-black-10);
  }

  .btn-see-all,
  .cat-body__load-more,
  .news-detail__share-btn,
  .news-detail__tag {
    background-color: var(--color-white-100);
    border-color: var(--color-black-10);

    svg path {
      filter: invert(0.5);
    }
  }

  .policy-section {
    .policy-scrollbar {
      background-color: var(--color-black-10);
    }

    .policy-scrollbar__thumb {
      background-color: var(--cds-color-light-blue);
    }
  }

  .spotlight-section__pub-nav {
    .nav-btn {
      background-color: var(--color-white-100);
      border-color: var(--color-black-10);

      img {
        filter: invert(0.5);
      }

      &:hover {
        background-color: var(--color-white-100);
        border-color: var(--color-black-10);
        box-shadow: 0 5px 10px var(--color-black-15);
      }
    }

    .pub-counter {
      border-color: var(--color-black-10);
    }
  }

  .social-section,
  .home-section {
    .pagination-dots {
      .dot {
        background-color: var(--color-black-10);
      }
    }
  }
}